/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root*/
:root{
    --header-bcg: #3161e0;
    --text-on-h-bcg: white;
    --button-inverted: black;
}

/*Debug*/

.debug{

    /*Debug-Header*/
    header{
        height: 50px;
        background-color: purple;
        .container{
            height: 50px;
        }
    }
    #logo{
        height: 30px;
        width: 100px;
        background-color: green;
    }
    .menu{
        height: 30px;
        background-color: green;
    }
    a{
        height: 30px;
        width: 50px;
        background-color: aqua;
    }
    button{
        height: 30px;
        width: 100px;
        background-color: green;
    }

    

    /*Debug-Main*/

    .jumbotron{
        height: 500px;
        background-color: blue;
        .container{
            height: 500px;
            background-color: cadetblue;
        }
    }
    h1{
        height: 30px;
        width: 200px;
        background-color: green;
    }
    p{
        height: 150px;
        width: 200px;
        background-color: green;
    }
    main section{
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 25px;
        height: 550px;
        background-color: orange;
        .container{
            padding: 5px;
            height: 500px;
            background-color: blue;
            .big{
                background-color: yellow;
            }
            .small{
                background-color: brown;
            }
            .full{
                background-color: chartreuse;
                height: 490px;
            }
        }
    }

    /*Debug-Footer*/

    .footer-sec{
        background-color: palevioletred;
        .container{
            padding: 5px;
            height: 500px;
            background-color: cornflowerblue;
        }
    }
    .main-footer{
        background-color: darkmagenta;

    }
    .prodotto{
        background-color: darkkhaki;
    }
    .compagnia{
        background-color: coral;
    }
    .risorse{
        background-color: darkgreen;
    }
    .norme{
        background-color: chocolate;
    }
    .footer-nav{
        border-top: 2px solid white;
        background-color: palevioletred;
        height: 50px;
        .container{
            padding: 5px;
            background-color: cornflowerblue;
        }
    }
}

/*Utilities*/

/*Common*/

.d-flex{
    display: flex;
}

.container{
    margin: 0 auto;
    width: 80%;
}

.small{
    width: 25%;
}

.big{
    width: 70%;
}

.full{
    width: 100%;
}
/*Header*/

header{
    background-color: var(--header-bcg);
}

nav.container{
    justify-content: space-between;
        align-items: center;
    
}

nav.menu{
    width: 50%;
    justify-content: space-between;
    a{
        color: var(--text-on-h-bcg);
        text-decoration: none;
    }
}

.accedi{
    background-color: var(--text-on-h-bcg);
    padding: 7px;
    border: 1px solid var(--text-on-h-bcg);
    border-radius: 15px;

}

/*Main*/

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 150px;
}
.jumbotron .container{
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    p{
        font-size: 1.8rem;
        text-align: center;
        color:  var(--text-on-h-bcg);
    }
}

h1{
    color: var(--text-on-h-bcg);
    font-size: 5rem;
}

.mac{
    background-color: var(--text-on-h-bcg);
    padding: 15px;
    border: 1px solid var(--text-on-h-bcg);
    border-radius: 30px;
    font-size: 1.5rem;
    margin: 10px;
}

.browser{
    color: var(--text-on-h-bcg);
    background-color: var(--button-inverted);
    padding: 15px;
    border: 1px solid var(--button-inverted);
    border-radius: 30px;
    font-size: 1.5rem;
    margin: 10px;
}

.invite,.easy-to-find,.fandom{
    justify-content: space-around;
    margin-bottom: 100px;
}

.invite{
    margin-top: 150px;
    h2{
        font-size: 4.5rem;
        padding-top: 27px;
        padding-bottom: 35px;
    }
    p{
        font-size: 1.9rem;
    }
    img{
        height: 100%;
    }
    .big{
        justify-content: center;
    }
    .small{
        flex-direction: column;
    }
}

.easy-to-find{
    h2{
        font-size: 4.5rem;
        padding-top: 27px;S
        padding-bottom: 35px;
    }
    p{
        font-size: 1.9rem;
    }
    img{
        height: 150%;
    }
    .big{
        width: 40%;
        justify-content: center;
         background-color: #f6f6f6;
    }
    .small{
        flex-direction: column;
    }
}

.wave{
    background-color: #f6f6f6;
    height: 800px;
}

.wave-1hkxOo{
    opacity: 0.03;

}
.reverse{
    transform: rotate(180deg);
    margin-bottom: 200px;
}



/*Footer*/

.main-footer{
    width: 30%;
}

.footer-menu{
    width: 70%;
}

.footer-menu div{
    width: 25%;
}
